<html>

<head>
    <title></title>
</head>
<link rel="stylesheet" href="static\main.css">



<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- <div id="drop_area" style="padding:100px; border: 1px solid black">

            <label for="images" class="drop-container" id="drop_area"> -->
        <div class="container1"><input type="file" name="file" multiple />
            <div class="container2">
                <input type="submit" value="Upload">
            </div>

        </div>


        <!-- </label>
        </div> -->
        <!-- <input type="file" name="file" multiple /> -->
        <!-- <input type="submit" value="Upload"> -->



    </form>
</body>

</html>